name: whereIsMyCheese
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  maze:
    path: ./plugins/maze

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.9.0
  shared_preferences: ^2.0.6

# flutter pub run flutter_launcher_icons:main    
flutter_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/rat.png"

flutter:
  uses-material-design: true
  assets:
    - assets/